@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  display: relative;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(3, 0, 51) 0%, rgb(20, 20, 172) 55%, rgb(15, 1, 94) 100%);
}

.Dropdown-option:not(:last-child){
  margin: 8px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(230, 230, 230);
  cursor: pointer;
  transition: opacity .2s ease-in-out;
}
.Dropdown-option:hover{
  opacity: 0.8;
}